.container {
  height: 100%
}
.intro {
  background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
  height: 100vh;
}

.gradient-custom-3 {
  background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.btn btn-outline-secondary {
  margin:0 auto;
  display:block;
}
.card-deck .card {
    max-width: calc(25% - 30px);
}
.col {
  padding-top: 10px
}
